body {
    font-family:Sans-Serif;
}

#hiddenCanvas {
    position:absolute; 
    float:left;
}

#snap-button {
    background-color: Red; 
    color: #fff; 
    padding: 3px 10px; 
    cursor:pointer; 
    display: inline-block; 
    border-radius: 5px;
}

#main {
    float:left; 
    width: 45%;
}

#imageToForm {      
    width:100%;
}
#preview {
    margin: 20px 0;
}

#crap {
    position:absolute;
    float:right;
}